.container {
  position: relative;
  width: 800px;
  margin: 0 auto;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(215, 215, 215);
  animation-name: transitionIn;
  animation-duration: 1s;
}

.pokemon-box-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  animation-name: transitionIn;
  animation-duration: 1s;
}

.shiny-default-button {
  position: absolute;
  top: 150px;
  left: 200px;
  display: flex;
  gap: 20px;
}

.pokemon-box-1 ul {
  list-style: none;
}

.pokemon-box-1 ul li {
  font-size: 20px;
}

.pokemon-name-id {
  font-size: 32px;
}

.pokemon-type {
  display: flex;
}

.pokemon-type p {
  margin-right: 10px;
}

.pokemon-image {
  width: 200px;
}

table,
th,
td {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
}

.horizontal-table {
  display: flex;
  flex-direction: column;
}

.horizontal-table tr {
  display: flex;
}

.horizontal-table th,
.horizontal-table td {
  flex: 1;
  border: 1px solid #ccc;
  padding: 8px;
}

.previous-pokemon-button {
  width: 50px;
  height: 352px;
  position: absolute;
  left: -50px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.next-pokemon-button {
  width: 50px;
  height: 352px;
  position: absolute;
  right: -50px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.vertical-text {
  display: flex;
  flex-direction: column;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 300px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pokeball-spinner {
  width: 75px;
  height: 75px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/768px-Pok%C3%A9_Ball_icon.svg.png");
  background-size: cover;
  animation: spin 1s linear infinite;
}

.loading-indicator p {
  margin-top: 10px;
  font-size: 16px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
