.container {
  position: relative;
  width: 800px;
  height: 450px;
  margin: 0 auto;
  margin-top: 150px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  name: transitionIn;
  animation-duration: 1s;
  background: rgb(158, 66, 81);
  background: radial-gradient(
    circle,
    rgb(45, 102, 177) 0%,
    rgb(96, 94, 117) 100%
  );
}

.pokemon-box-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-image {
  animation-name: transitionIn;
  animation-duration: 1s;
}

.shiny-default-button {
  position: absolute;
  top: 150px;
  left: 200px;
  display: flex;
  gap: 20px;
}

.default-button {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background: rgb(249, 249, 238);
  background: radial-gradient(
    circle,
    rgba(249, 249, 238, 1) 0%,
    rgba(181, 180, 175, 1) 100%
  );
  border: none;
  cursor: pointer;
}

.default-button:hover {
  background: #f0f0f0;
}

.shiny-button {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background: rgb(217, 232, 108);
  background: radial-gradient(
    circle,
    rgba(217, 232, 108, 1) 0%,
    rgba(237, 201, 51, 1) 100%
  );
  border: none;
  cursor: pointer;
}

.shiny-button:hover {
  background: rgb(255, 224, 98) 100%;
}

.pokemon-box-1 ul {
  list-style: none;
}

.pokemon-box-1 ul li {
  font-size: 20px;
}

.pokemon-name-id {
  font-size: 32px;
}

.pokemon-type {
  display: flex;
}

.pokemon-type p {
  margin-right: 10px;
}

.pokemon-image {
  width: 200px;
}

table,
th,
td {
  border: 1px solid rgb(168, 168, 168);
  border-radius: 5px;
}

.horizontal-table {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.horizontal-table tr {
  display: flex;
}

.horizontal-table th,
.horizontal-table td {
  flex: 1;
  border: 1px solid #ccc;
  padding: 8px;
}

.previous-pokemon-button {
  width: 50px;
  height: 450px;
  position: absolute;
  left: -50px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  cursor: pointer;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
}

.previous-pokemon-button:hover {
  color: red;
  background-color: rgb(222, 222, 222);
  transition: 0.3s;
}

.next-pokemon-button {
  width: 50px;
  height: 450px;
  position: absolute;
  right: -50px;
  font-size: 18px;
  color: #fff;
  background-color: red;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
}

.next-pokemon-button:hover {
  color: red;
  background-color: rgb(222, 222, 222);
  transition: 0.3s;
}

.vertical-text {
  display: flex;
  flex-direction: column;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 300px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pokeball-spinner {
  width: 75px;
  height: 75px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/768px-Pok%C3%A9_Ball_icon.svg.png");
  background-size: cover;
  animation: spin 1s linear infinite;
}

.loading-indicator p {
  margin-top: 10px;
  font-size: 16px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}
