<app-header></app-header>

<div class="loading-indicator" *ngIf="!pokemon">
  <div class="pokeball-spinner"></div>
  <p>Loading...</p>
</div>

<div class="container" *ngIf="pokemon">
  <p class="pokemon-name-id">{{ pokemon.name }} #{{ pokemon.id }}</p>
  <div class="pokemon-type">
    <p *ngFor="let type of pokemon.types">
      {{ type.type.name }}
    </p>
  </div>
  <div class="pokemon-box-1">
    <div class="shiny-default-button">
      <button (click)="toggleDefault()">default</button>
      <button (click)="toggleShiny()">shiny</button>
    </div>
    <img
      *ngIf="default_button"
      class="pokemon-image"
      [src]="pokemon.sprites.front_default"
      alt="{{ pokemon.name }} image"
    />
    <img
      *ngIf="shiny_button"
      class="pokemon-image"
      [src]="pokemon.sprites.front_shiny"
      alt="{{ pokemon.name }} image"
    />
    <ul>
      <li>Base experience: {{ pokemon.base_experience }}</li>
      <li>Height: {{ pokemon.height }}</li>
      <li>Weight: {{ pokemon.weight }}</li>
    </ul>
  </div>
  <table class="horizontal-table">
    <tr>
      <ng-container *ngFor="let name of pokemon.stats">
        <th>{{ name.stat.name }}</th>
      </ng-container>
    </tr>
    <tr>
      <ng-container *ngFor="let name of pokemon.stats">
        <td>{{ name.base_stat }}</td>
      </ng-container>
    </tr>
  </table>
  <button class="next-pokemon-button" (click)="goToNextPokemon()">
    <div class="vertical-text">
      <span>P</span>
      <span>o</span>
      <span>k</span>
      <span>e</span>
      <span>m</span>
      <span>o</span>
      <span>n</span>
      <br />
      <ng-container *ngIf="pokemon.id + 1 === 1001; else nextCase">
        <span>#1</span>
      </ng-container>
      <ng-template #nextCase>
        <span>#{{ pokemon.id + 1 }}</span>
      </ng-template>
    </div>
  </button>

  <button class="previous-pokemon-button" (click)="goToPreviousPokemon()">
    <div class="vertical-text">
      <span>P</span>
      <span>o</span>
      <span>k</span>
      <span>e</span>
      <span>m</span>
      <span>o</span>
      <span>n</span>
      <br />
      <ng-container *ngIf="pokemon.id - 1 === 0; else otherCase">
        <span>#1000</span>
      </ng-container>
      <ng-template #otherCase>
        <span>#{{ pokemon.id - 1 }}</span>
      </ng-template>
    </div>
  </button>
</div>
