<app-header></app-header>

<div class="main-container">
  <input
    type="text"
    placeholder="Search for pokemons!"
    class="search-input"
    [(ngModel)]="searchItem"
    (input)="filterPokemons()"
  />
  <div class="pokemons-container">
    <div
      class="pokemon-box"
      *ngFor="let pokemon of pokemonArray; let i = index"
      (click)="selectedPokemon(i)"
      [routerLink]="'pokemon/' + pokemon.id"
    >
      <p class="pokemon-id">#{{ pokemon.id }}</p>
      <img class="pokemon-image" src="{{ pokemon.imageUrl }}" alt="Pokemon" />
      <p class="pokemon-name">{{ capitalizeFirstLetter(pokemon.name) }}</p>
      <ul>
        <li *ngFor="let type of pokemon.type">
          {{ capitalizeFirstLetter(type) }}
        </li>
      </ul>
    </div>
    <div class="loading-indicator" *ngIf="loading">
      <div class="pokeball-spinner"></div>
      <p>Loading...</p>
    </div>
  </div>
</div>
