.search-input {
  width: 600px;
  height: 50px;
  font-size: 20px;
  color: #5a5a5a;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  background-color: rgb(238, 238, 238);
  border: none;
  outline: none;
  border-radius: 10px;
}

.pokemons-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1350px;
  margin: 0 auto;
  margin-top: 50px;
  animation-name: transitionIn;
  animation-duration: 1s;
}

.pokemon-box {
  margin: 10px 10px;
  margin-bottom: 40px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #eaeaea;
  animation-name: transitionIn;
  animation-duration: 1s;
}

.pokemon-box:hover {
  background-color: #fff;
  transition: 0.2s;
}

.pokemon-id {
  font-size: 20px;
  color: rgb(103, 103, 103);
}

.pokemon-image {
  width: 200px;
}

.pokemon-name {
  font-size: 26px;
  font-weight: 500;
}

.pokemon-box ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.pokemon-box ul li {
  font-size: 16px;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 100px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.pokeball-spinner {
  width: 75px;
  height: 75px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Pok%C3%A9_Ball_icon.svg/768px-Pok%C3%A9_Ball_icon.svg.png");
  background-size: cover;
  animation: spin 1s linear infinite;
}

.loading-indicator p {
  margin-top: 10px;
  font-size: 16px;
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}

.pagination {
  display: flex;
  justify-content: center;
}
